@using BuchVerwaltungMVC.Models

@model BuchListeModel 

<h4 style="float:left;width:49.5%;" border="1">Datensätze aktuelle Bücher:</h4>
<h4 style="float:right;width:49.5%;" border="1">Datensätze archivierte Bücher:</h4>

@*Erstellen einer Tabelle, um Datensätze aus der Datenbanktabelle aktuelle_buecher darzustellen*@
<table class="table table-hover mb-0" style="float:left;width:49.5%;" border="1">
    <thead>
        <tr>
            <td>Titel</td>
            <td>Autor</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var buch in Model.AktuelleBuecherListe)
        {
            <tr>
                <td>@buch.Titel</td>
                <td>@buch.Autor</td>
                <td>@Html.ActionLink("Verschiebe", "VerschiebeVonAktuellNachArchiviert", "Buch", buch)</td>
            </tr>
        }
    </tbody>
</table>


@*Erstellen einer Tabelle, um Datensätze aus der Datenbanktabelle archivierte_buecher darzustellen*@
<table class="table table-hover mb-0" style="float:right;width:49.5%;" border="1">
    <thead>
        <tr>
            <td>Titel</td>
            <td>Autor</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var buch in Model.ArchivierteBuecherListe)
        {
            <tr>
                <td>@buch.Titel</td>
                <td>@buch.Autor</td>
                <td>@Html.ActionLink("Verschiebe", "VerschiebeVonArchiviertNachAktuell", "Buch", buch)</td>
            </tr>
        }
    </tbody>
</table>
